{% load static %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ویرایش پزشک</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

{% if messages %}
    <div class="messages-wrapper">
        {% for message in messages %}
            <div class="{% if message.tags == 'error' %}error-message{% else %}success-message{% endif %}">
                {% if message.tags == 'error' %}⚠️{% else %}✅{% endif %} {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}

<nav>
    <h2>🏥 بیمارستان سلامت</h2>

    <a href="{% url 'dashboard' %}">
        داشبورد
    </a>
</nav>

<div class="appointment-box">

    <h1>✏️ ویرایش پزشک</h1>

    <form method="POST">

        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">
            💾 ذخیره تغییرات
        </button>

    </form>

</div>

</body>
</html>